* {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
}

body { position: fixed; overflow-y:scroll }

#container {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.child {
    width: 2.5vw;
    height: 2.5vw;
    float: left;
    z-index: 0;
    position: relative;
}

.nav {
	font-family: sans-serif;
	width: 100vw;
	min-height: 40px;
	margin-top: 20vh;
	z-index: 1;
	position: absolute;
	text-align: center;
	background-color: white;
}